<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="76ae94">  <td>19/01/28 16:55:50</td>   <td>0</td> <td title="&gt;&gt;LanguageSwitcherTest.initialSetUp()[pri:0, instance:com.customer.testcases.LanguageSwitcherTest@7cd62f43]">&gt;&gt;initialSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/01/28 16:57:10</td>   <td>80299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login_inval_pwdTest()[pri:6, instance:com.customer.testcases.LoginTest@4883b407]">login_inval_pwdTest</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>19/01/28 16:56:50</td>   <td>60101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.login_inval_unameTest()[pri:5, instance:com.customer.testcases.LoginTest@4883b407]">login_inval_unameTest</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="76ae94">  <td>19/01/28 16:56:17</td>   <td>27311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LanguageSwitcherTest.setUp()[pri:1, instance:com.customer.testcases.LanguageSwitcherTest@7cd62f43]">setUp</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="a48474">  <td>19/01/28 16:56:17</td>   <td>27745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="WalkthroughTest.setUp()[pri:2, instance:com.customer.testcases.WalkthroughTest@6093dd95]">setUp</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>19/01/28 16:56:27</td>   <td>37341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OnBoardTest.setUp()[pri:3, instance:com.customer.testcases.OnBoardTest@5622fdf]">setUp</td> 
  <td>main@827966648</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/01/28 16:56:35</td>   <td>45359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeScreenTest.setUp()[pri:4, instance:com.customer.testcases.HomeScreenTest@6d4b1c02]">setUp</td> 
  <td>main@827966648</td>   <td></td> </tr>
</table>
